#navbar {
    background-color: #1e1e1e;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    height: 12rem;
    z-index: 1000;
}

#menu{
    transition: all 2s;
    opacity: 0;
}

#menu.active{
    opacity: 1;
}

.links.active{
    border-bottom: solid 2px white;
}

#menu.sticky {
    position: fixed;
    top: 0;
  }

#menu-list{
    display: flex;
    justify-content: center;
}

#menu-list li{
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0px 10px;
    padding: 5px;
  }

.logo h2{
    color: white;
}
/* .floating-nav {
    --nav-gap: 15px;
    padding: var(--nav-gap);
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
} */

/* .nav-item {
    align-items: center;
    display: flex;
    margin-bottom: var(--nav-gap);
    flex-direction: row-reverse;
} */
/* 
.nav-link:hover ~ .nav-label {
    opacity: 1;
} */

/* .nav-label {
    color: #000000;
    background-color: rgb(165, 178, 184);
    border-radius: 5px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.1s;
} */

/* .nav-link {
    background: rgba(232, 1, 1, 0.3);
    border-radius: 50%;
    height: var(--nav-gap);
    margin-left: var(--nav-gap);
    transition: transform 0.1s;
    width: var(--nav-gap);
} */

/* .nav-link-selected {
    background: #000000;
    transform: scale(1.4);
} */
/* 
#navbar
#menu
a
{
    border-bottom: none;
    color: var(--primary-color);
    font-weight: 700;
    margin-left: 24px;
} */

@media only screen and (max-width:768px){
    .mobile-menu{
        display: block;
        font-size: 24px;
    }

    .menu{
        position: relative;
        background-color: red;
        width: 100%;
        top: 100%;
        z-index: 99;
        display: none;
    }

    .menu a{
        padding: 32px 0;
        font-size: 18px;
        display: block;
    }

    .show{
        display: block;
    }
}